*/.idea/
Data/forecast.txt
Data/forecast.xml
Data/member.json
Data/csv_s1.csv
Data/csv_s2.csv
Data/__pycache__/
Data/result_s2.csv
Data/excel_s1.xlsx
Data/excel_s2.xlsx
Data/result.xlsx
SQL/data/
SQL/databases/
DB Browser for SQLite/
SQL/sqlite1.db