*/.idea/
section4/forecast.txt
section4/forecast.xml
section4/member.json
section4/csv_s1.csv
section4/csv_s2.csv
section4/__pycache__/
section4/result_s2.csv
section4/excel_s1.xlsx
section4/excel_s2.xlsx